{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

<form method="post" class="d-flex flex-column gap-3 m-5">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <label for="inputEmail">
      Email
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </label>
    <label for="inputPassword">
      Password
      <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </label>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-primary mx-auto" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
