<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" class="m-1" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
