{% extends 'base.html.twig' %}

{% block title %}Modifier uen Categorie{% endblock %}
{% block body %}
    <h1>Modifier une Categorie</h1>
    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
