<form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" class="m-1" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-warning">Supprimer</button>
</form>
