{% extends 'base.html.twig' %}

{% block title %}Modifier un Utilisateur{% endblock %}

{% block body %}
    <h1>Modifier un Utilisateur</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
